quintrix-customers-proxy-api-api-gateway/src/main/mule/http-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:proxy="http://www.mulesoft.org/schema/mule/proxy"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:raml-validator="http://www.mulesoft.org/schema/mule/raml-validator"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
        http://www.mulesoft.org/schema/mule/proxy http://www.mulesoft.org/schema/mule/proxy/current/mule-proxy.xsd
        http://www.mulesoft.org/schema/mule/raml-validator http://www.mulesoft.org/schema/mule/raml-validator/current/mule-raml-validator.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="config.properties"/>

    <configuration defaultResponseTimeout="${proxy.responseTimeout}"/>

    <proxy:config name="proxy-config"/>

    <http:listener-config name="http-listener-config">
        <http:listener-connection host="0.0.0.0" port="${proxy.port}" protocol="HTTP"/>
    </http:listener-config>

    <api-gateway:autodiscovery apiId="${api.id}" flowRef="proxy"/>

    <http:request-config name="http-request-config" basePath="${implementation.path}">
        <http:request-connection host="${implementation.host}" port="${implementation.port}"
                                 protocol="${implementation.protocol}"/>
    </http:request-config>

    <raml-validator:config name="configValidator" raml="${implementation.raml}"/>

    <flow name="proxy">
        <http:listener config-ref="http-listener-config" path="${proxy.path}">
            <http:response statusCode="#[attributes.statusCode]" reasonPhrase="#[attributes.reasonPhrase]">
                <http:headers>#[if (vars.proxyResponseHeaders?) vars.proxyResponseHeaders else {}]</http:headers>
            </http:response>
        </http:listener>

        <raml-validator:validate-request config-ref="configValidator"/>

        <proxy:request-headers config-ref="proxy-config" target="proxyRequestHeaders"/>

        <http:request config-ref="http-request-config" method="#[attributes.method]"
                      path="#[attributes.requestPath replace ((((attributes.listenerPath replace '/\*' as Regex with '') replace /\{\w+\}/ with '\\w+') as Regex replace '/' with '\\/')) as Regex with '']">
            <http:headers>#[vars.proxyRequestHeaders]</http:headers>
            <http:uri-params>#[attributes.uriParams]</http:uri-params>
            <http:query-params>#[attributes.queryParams]</http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>

        <proxy:response-headers config-ref="proxy-config" target="proxyResponseHeaders"/>

        <error-handler>
            <on-error-continue type="HTTP:TIMEOUT" logException="false">
                <ee:transform>
                    <ee:message>
                        <ee:set-attributes>
                            {
                            statusCode: 504
                            }
                        </ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
            <on-error-continue type="RAML-VALIDATOR:BAD_REQUEST" logException="false">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>output application/json --- {"error": "$(error.description)"}</ee:set-payload>
                        <ee:set-attributes>
                            {
                            statusCode: 400
                            }
                        </ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
            <on-error-continue type="RAML-VALIDATOR:RESOURCE_NOT_FOUND" logException="false">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>output application/json --- {"error": "$(error.description)"}</ee:set-payload>
                        <ee:set-attributes>
                            {
                            statusCode: 404
                            }
                        </ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>

    </flow>

    <flow name="console">
        <http:listener config-ref="http-listener-config" path="/console/*">
            <http:response statusCode="#[attributes.statusCode]" reasonPhrase="#[attributes.reasonPhrase]">
                <http:headers>#[attributes.headers]</http:headers>
            </http:response>
        </http:listener>

        <raml-validator:console config-ref="configValidator"/>

    </flow>
</mule>
